DATABASE_URL="sqlserver://your-server.database.windows.net:1433;database=your-database;user=your-username@your-server;password=YOUR_PASSWORD;encrypt=true;trustServerCertificate=false;loginTimeout=30"

USER_SERVICE_PORT=3001
USER_SERVICE_HOST=localhost
USER_SERVICE_TCP_PORT=4001

ORDER_SERVICE_PORT=3002
ORDER_SERVICE_HOST=localhost
ORDER_SERVICE_TCP_PORT=4002

CLOTHING_SERVICE_PORT=3003
CLOTHING_SERVICE_HOST=localhost
CLOTHING_SERVICE_TCP_PORT=4003

RETURN_SERVICE_PORT=3004
RETURN_SERVICE_HOST=localhost
RETURN_SERVICE_TCP_PORT=4004

